<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bicycle.css' %}">
    <title>My Bookings</title>
</head>
<body>
    <div class="jumboothon container"> 
    <div class="wrapper">
        <div id="logo">
            <h1>TRYCYCLE</h1>
        </div>
        <div class="header">
            <ul id="box">
                <li><a href="{% url 'basicapp:index' %}"> Home</a></li>
                <li>Discounts</li>
            </ul>
        </div>
    </div>
    <br>   
    <h1 class="alert alert-primary" role="alert" >Here's a list of all your bookings</h1>
    {% if user.is_authenticated %}
    {% if bookings %}
    
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Starting Point</th>
            <th scope="col">Ending Point</th>
        </thead>
        {% for book in bookings %}

        {% ifequal user.username book.user %}
        <tr>
            <td scope="col">
                {{ book.date }}
            </td>
            <td scope="col">
                {{ book.cht }}
            </td>
            <td scope="col">{{ book.check }}</td>
            <td scope="col">{{ book.end }}</td>
        </tr>
        {% endifequal %}
        {% endfor %}
    </table>
    </div>
    {% else %}
    <p>NO RECORDS</p>
    {% endif %}
    {% endif %}
</body>
</html>